.button {
  background-color: #121212;
  color: #34c94b;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}