.swiper {
  width: 100%;
  padding: 10px 0;
}

.slide {
  width: 159px !important;
}

/* Navigation Arrows */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--color-primary);
  background-color: #121212;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-size: 18px;
  font-weight: bold;
}